<nav class="p-3">
  <ul class="nav nav-pills gap-2">
    <li *ngFor="let menu of menus">
      <button
        (click)="setActiveMenu(menu.path)"
        class="btn {{
          currentPath === menu.path ? 'btn-primary' : 'btn-outline-primary'
        }}"
        routerLink="{{ menu.path }}"
      >
        <i *ngIf="menu.icon" class="bi bi-{{ menu.icon }}"></i>
        {{ menu.title }}
      </button>
    </li>

    <li *ngIf="loading | async">
      <div class="spinner-border text-info m-1" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </li>
  </ul>
</nav>
